.Map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.popup-content {
  position: relative;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.facility-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  width: 90%;
  max-width: 700px;
}

.contact-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.mail-button,
.phone-button,
.route-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #007bff;
}

.mail-button:hover,
.phone-button:hover,
.route-btn:hover {
  color: #fafafa;
  text-decoration: underline;
}

.facility-details {
  margin-top: 10px;
  text-align: left;
}

.facility-details p {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  word-break: break-word;
  white-space: pre-wrap;
  margin-bottom: 8px;
}

.facility-details p strong {
  margin-right: 20px;
}

.heart-icon {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  position: relative;
  left: 50%;
}

.heart-empty::before {
  content: "\2661"; /* Empty heart symbol */
  color: red; /* Border color */
}

.heart-filled::before {
  content: "\2665"; /* Filled heart symbol */
  color: red; /* Filled color */
}

.heart-tooltip {
  position: absolute;
  bottom: 35px; /* Position below the heart icon */
  left: 50%;
  font-size: small;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #333333;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  white-space: nowrap;
  z-index: 1001; /* Ensure the tooltip appears above the popup */
}

.heart-icon:hover .heart-tooltip {
  display: block; /* Show tooltip when hovering over heart icon */
}

.popup-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  cursor: pointer;
  font-size: 20px; /* Increase font size for better visibility */
  background: none;
  border: none;
  color: #4f4d4d !important;
}

.close-btn hover {
  color: #ffffff !important;
}

.close-btn::before {
  content: 'x'; /* Display 'x' symbol */
  font-weight: bold;
}

.route-info {
  margin-top: 10px;
}