body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #f5f5f5;
  padding: 2rem;
  color: #333;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

.form-group input, .form-group select {
  width: calc(100% - 1.5rem);
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
}

button {
  width: 140px;
  height: 50px;
  margin-top: 1rem;
  padding: 1rem 1rem;
  border: none;
  background-color: #c1c2c4c6;
  color: white;
  font-size: medium;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #3181f9;
}

button + button {
  margin-left: 5px;
}

button[type="delete"] {
  background-color: #8e8d8d;
}

button[type="close"] {
  position: fixed;
  top: 10px;
  right: 50px;
  width: 30px;
  height: 30px;
  padding: 0;           
  border-radius: 50%;
  background-color: #f9f9f9;
  border: none;         
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;          
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 16px;
}

button[type="close"]:hover {
  background-color: red;
}

button[type="submit"] {
  background-color: #3181f9;
}

button[type="route"] {
  background-color: white;
  width: auto;
  height: auto;
  color: #3181f9;
}

button[type="route"]:hover {
  background-color: #3181f9;
  width: auto;
  height: auto;
  color: white;
}

.Map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.menu {
  position: absolute;
  width: 400px;
  height: auto;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.popup-inner {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 90vw;
  width: 90vw;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  transform: scale(0.9);
  animation: popupShow 0.3s forwards;
}

.input, .select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  left:50%;
}

.filter-section {
  margin-top: 1rem;
}

@keyframes popupShow {
  to {
    opacity: 1;
    transform: scale(1);
  }
}